/* styles.css */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  background-image:url("image/payment_image.jpg");
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color:cyan;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

.payment-form label {
  margin-bottom: 5px;
  display: block;
}

.payment-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.payment-form .row {
  display: flex;
  justify-content: space-between;
}

.payment-form .row .col {
  width: 48%;
}

.payment-form button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.payment-form button:hover {
  background-color: #0056b3;
}

#error-message {
  color: red;
  margin-top: 10px;
}
